
<div *ngIf="customer">
    <h2><span>Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Account Number</span></dt>
        <dd>
            <span>{{customer.accountNumber}}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{customer.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{customer.lastName}}</span>
        </dd>
        <dt><span>Address 1</span></dt>
        <dd>
            <span>{{customer.address1}}</span>
        </dd>
        <dt><span>Address 2</span></dt>
        <dd>
            <span>{{customer.address2}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{customer.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{customer.state}}</span>
        </dd>
        <dt><span>Zip</span></dt>
        <dd>
            <span>{{customer.zip}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{customer.phone}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{customer.email}}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
            <span>{{customer.username}}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
            <span>{{customer.password}}</span>
        </dd>
        <dt><span>Enabled</span></dt>
        <dd>
            <span>{{customer.enabled}}</span>
        </dd>
        <dt><span>Add Date</span></dt>
        <dd>
            <span>{{customer.addDate | date:'medium'}}</span>
        </dd>
        <dt><span>Agent</span></dt>
        <dd>
            <div *ngIf="customer.agentId">
                <a [routerLink]="['/agent', customer.agentId]">{{customer.agentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
