<div>
    <h2>
        <span>Tariffs</span>
        <button class="btn btn-primary float-right jh-create-entity create-tariff" [routerLink]="['/', { outlets: { popup: ['tariff-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Tariff
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tariffs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Price</span></th>
            <th><span>Period</span></th>
            <th><span>Enabled</span></th>
            <th><span>Add Date</span></th>
            <th><span>Period Type</span></th>
            <th><span>Service Package</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tariff of tariffs ;trackBy: trackId">
                <td><a [routerLink]="['../tariff', tariff.id ]">{{tariff.id}}</a></td>
                <td>{{tariff.name}}</td>
                <td>{{tariff.price}}</td>
                <td>{{tariff.period}}</td>
                <td>{{tariff.enabled}}</td>
                <td>{{tariff.addDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="tariff.periodTypeId">
                        <a [routerLink]="['../period-type', tariff.periodTypeId  ]" >{{tariff.periodTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tariff.servicePackageId">
                        <a [routerLink]="['../service-package', tariff.servicePackageId  ]" >{{tariff.servicePackageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tariff', tariff.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tariff/'+ tariff.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tariff/'+ tariff.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
