<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTariffLabel">Create or edit a Tariff</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tariff.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tariff.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="tariff.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="tariff.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_period">Period</label>
            <input type="number" class="form-control" name="period" id="field_period"
                [(ngModel)]="tariff.period" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_enabled">Enabled</label>
            <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                [(ngModel)]="tariff.enabled" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_addDate">Add Date</label>
            <div class="d-flex">
                <input id="field_addDate" type="datetime-local" class="form-control" name="addDate" [(ngModel)]="tariff.addDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_periodType">Period Type</label>
            <select class="form-control" id="field_periodType" name="periodType" [(ngModel)]="tariff.periodTypeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="periodTypeOption.id" *ngFor="let periodTypeOption of periodtypes; trackBy: trackPeriodTypeById">{{periodTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_servicePackage">Service Package</label>
            <select class="form-control" id="field_servicePackage" name="servicePackage" [(ngModel)]="tariff.servicePackageId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="servicePackageOption.id" *ngFor="let servicePackageOption of servicepackages; trackBy: trackServicePackageById">{{servicePackageOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
